/*This file is for the abilities page*/

body {
    margin-left: 13vw;
    margin-right: 13vw;
} 
@media only screen and (max-width: 1000px) {
    body {
        margin-left: 0 auto;
    }
    .base {
        border-radius: 25px;
        background: #000000;
        width: 65vw;
        height: 300px;
        padding: 20px;
        padding-bottom: 30px;
        margin: 0 auto;
        text-align: center;
        font-family: 'splatfont_2regular', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
        font-size: 18px;
        font-size-adjust: auto;
        color: white;
    }

}
.base {
    border-radius: 25px;
    background: #000000;
    width: 65vw;
    height: 300px;
    padding: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: 'splatfont_2regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 22px;
    font-size-adjust: auto;
    color: white;
}

img {
    width: 56px; 
    height: 56px;
}

.same-line-a {
    
    margin-left: 0 auto;
    padding: 25px;
}

.ismtrig {
    width: 56px;
    height: 56px
}
