/*@font-face {
    font-family: Splat2 ;
    src: url("Sp")
}*/

body {
  background-image: url("https://raw.githubusercontent.com/MortiMortimer/mortimortimer.github.io/master/assets/img/bg-primary.jpg");
  background-color: rgb(36, 36, 36);
  background-size: cover;
  background-position: center;
}
#page-head {
    font-family: Arial;
    font-size: 100px;
    color: white;
    text-shadow: 2px 2px darkslategrey;
    text-align: center;
}
p {
    color:white;
}
#Basics {

}
#Examples {

}
#Synergy {

}
#Abilities {

}
#Positioning {

}