@font-face {
    font-family: 'splatfont_2regular';
    src: url('splatfont2.eot');
    src: url('splatfont2.eot?#iefix') format('embedded-opentype'),
         url('splatfont2.woff2') format('woff2'),
         url('splatfont2.woff') format('woff'),
         url('splatfont2.ttf') format('truetype'),
         url('splatfont2.svg#splatfont_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

a:link, a:visited {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #fb49ff;
  text-decoration: none;
}
a:active {
  color: #25db4c;
  text-decoration: none;
}
body {
    background-image: url("https://raw.githubusercontent.com/MortiMortimer/mortimortimer.github.io/master/assets/img/bg-primary.jpg");
    background-color: rgb(36, 36, 36);
    background-size: cover;
    background-position: center;
    font-family: 'splatfont_2regular', Arial, sans-serif;
      font-weight:normal;
      font-style:normal;
      font-size: 16px;
      color: white;
  }
#page-head {
      font-family: 'splatfont_2regular', Arial, sans-serif;
      font-weight:normal;
      font-style:normal;
      font-size: 100px;
      color: white;
      text-shadow: 2px 2px darkslategrey;
      text-align: center;
  }
.nav {
    font-family: 'splatfont_2regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px darkslategrey;
  }
.col1 {
  position: relative;
  margin-left: 215px;
  word-spacing: 215px;
}
.footer {
  font-family: 'splatfont_2regular', Arial, sans-serif;
  font-weight:normal;
  font-style:normal;
  text-shadow: 2px 2px darkslategrey;
  font-size: 22px;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}
img, r {
  float: right;
  transform: rotate(2deg);
  padding: 10px;
}