.option {
    border-radius: 25px;
    background: #000000;
    width: 7.4vw;
    height: 7.4vw;
    padding: 15px;
    margin: 20px;
    text-align: center;
    font-family: 'splatfont_2regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 1.7vw;
    font-size-adjust: auto;
    color: white;
    display: inline-block;
}

.base {
    padding-bottom: 56.25%;
    border-radius: 25px;
    background: #000000;
    width: 65vw;
    height: 56.25%;
    padding: 20px;
    padding-bottom: 30px;
    margin: 0 auto;
    text-align: center;
    font-family: 'splatfont_2regular', Arial, sans-serif;
    font-weight:normal;
    font-style:normal;
    font-size: 22px;
    font-size-adjust: auto;
    color: white;
}

.base, img {
    width: 65vw;
    height: 56.25%;
}

/*add media queries for 3:2 and 3:4 aspect ratios down the line*/