@font-face {
    font-family: 'splatfont_2regular';
    src: url('splatfont2.eot');
    src: url('splatfont2.eot?#iefix') format('embedded-opentype'),
         url('splatfont2.woff2') format('woff2'),
         url('splatfont2.woff') format('woff'),
         url('splatfont2.ttf') format('truetype'),
         url('splatfont2.svg#splatfont_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("https://raw.githubusercontent.com/MortiMortimer/mortimortimer.github.io/master/assets/img/vegans/bg-main.png");
    font-family: 'splatfont_2regular', Arial, sans-serif;
    color: white;
    font-size: 2vw;
}

.header {
    margin-left: 1vw;
    font-size: 15vw;
    text-shadow: 2px 2px darkslategrey;
}

.subtitle {
    margin-left: 10vw;
}

.tig {
    background-color: purple;
    font-size: 4vw;
    height: 25%;
    width: 100%;
    margin: 5% 0 5% 0;
    position: relative;
}

.bgimg {
    vertical-align: bottom;
    object-fit: cover;
    border: none;
    width: 100%;
    height: 50%;
    z-index: -1;
}

.chara {
    position: absolute;
    left: 0;
    top: 0;
    vertical-align: center;
    align-content: left;
    width: 50%;
    height: 100%;
}

.tig text {
    z-index: 10;
    text-align: right;
    font-size: 15vw;
}