@font-face {
    font-family: 'splatfont_2regular';
    src: url('splatfont2.eot');
    src: url('splatfont2.eot?#iefix') format('embedded-opentype'),
         url('splatfont2.woff2') format('woff2'),
         url('splatfont2.woff') format('woff'),
         url('splatfont2.ttf') format('truetype'),
         url('splatfont2.svg#splatfont_2regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    background-image: url("https://raw.githubusercontent.com/MortiMortimer/mortimortimer.github.io/master/assets/img/vegans/bg-main.png");
    font-family: 'splatfont_2regular', Arial, sans-serif;
    color: white;
    font-size: 2vw;
}

.header {
    margin-left: 1vw;
    font-size: 15vw;
    text-shadow: 2px 2px darkslategrey;
}

.subtitle {
    margin-left: 10vw;
}

.tig {
    background-image: url("https://raw.githubusercontent.com/MortiMortimer/mortimortimer.github.io/master/assets/img/vegans/tigbg.jpg");
    opacity: 0.5;
    background-color: purple;
    font-size: 7vw;
    margin-top: 5vh;
    height: 22vh;
    width: 56.25%;
}
